body {
    color: black;
    font-family: "Dosis";
    font-size: 13px;
}

#nav {
	position: relative;
	background-color: #fff;
	
}

#container {
    font-family: "Dosis";
    font-size: 24px;
    color: #80E6FF;
}






